article address a{
	color: #FF7D02;
}

article p{
	padding: 0 10px;
	text-align: left;
}

/*MEDIA QUERY DESKTOP PORTRAIT*/
@media screen and (min-width: 970px){

article{
	background-color:#fff;
	border: 2px solid #000;
	border-radius:5px;
	box-shadow:5px 5px 5px #666;
	margin-bottom:10px;
	overflow:auto;
	padding:10px;
}

article address{
	display:block;
	text-align:right;
	padding-right:20px;
}

article h2{
	font-size: 26px;
	font-weight:bold;
	margin-top:0px;
	padding:0 10px;
	text-align: left;
}


article img{
	border: 2px solid #FF7D02;
	border-radius:5px;
	display: inline-block;
	float:left;
	margin-right:10px;
	max-width:100%;
	width:20vw;
}

article p{
	font-size: 18px;
}

body{
	background-color:#dedede;
}

figure{
	background-color:#fff;
	border: 2px solid #000;
	border-radius:5px;
	margin-bottom:10px;
	box-shadow:5px 5px 5px #666;
}	
		
	
}	



/*MEDIA QUERY TABLET PORTRAIT*/
@media screen and (max-width:969px){

article{
	background-color:#fff;
	border: 2px solid #000;
	border-radius:5px;
	box-shadow:5px 5px 5px #666;
	margin:10px 20px;
	overflow:auto;
	padding:10px;
}

article address{
	text-align:right;
	margin-right:2vw;
}

article h2{
	font-size: 18px;
	font-weight:bold;
	margin-top:0px;
	padding:0 10px;
	text-align: left;
}


article img{
	border: 2px solid #FF7D02;
	border-radius:5px;
	display: inline-block;
	float:left;
	margin-right:5px;
	max-width:100%;
	width:20vw;
}

article p{
	font-size: 14px;

}

body{
	background-color:#dedede;
}

figure{
	background-color:#fff;
	border: 2px solid #000;
	border-radius:5px;
	margin:10px 20px;
	box-shadow:5px 5px 5px #666;
}	
		

}

/*MEDIA QUERY MOBILE PORTRAIT*/
@media screen and (max-width: 600px){

article h2{
	font-size:16px;
	font-weight:bold;
	margin-bottom:3px;
	margin-top:0px;
	padding:10px;
	text-align: left;
}

article img{
	width:99%;
	margin-bottom:5px;
}

article p{
	font-size:14px;
}


article address{
	border-bottom:1px dotted #444;
	font-size:12px;
}


}